@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.homebackground {
  background-color: #6c6c5c;
  background-image: url("https://www.transparenttextures.com/patterns/cutcube.png");
  background-size: 2%; /* You can adjust these values */
}